
@{
    ViewBag.Title = "New";
}

<h2>New Teacher</h2>
<form method="POST" action="/Teacher/Create">
    <div>
        <label for="teacherfname">First name:</label>
        <input type="text" id="teacherfname" name="teacherfname" />
    </div>
    <div>
        <label for="teacherlname">Last name:</label>
        <input type="text" id="teacherlname" name="teacherlname" />
    </div>
    <div>
        <label for="hiredate">Hire date:</label>
        <input type="text" id="hiredate" name="hiredate" />
    </div>
    <div>
        <input type="submit" value="Create Teacher"/>
    </div>
</form>

