@model CumulativePart1.Models.Teacher
@{
    ViewBag.Title = "Show";
}


    <div id="containershow">
        <nav>
            <a class="navlink" href="/Teacher/List">Back To Teachers</a>
            <a class="dellink" href="/Teacher/DeleteConfirm/@Model.teacherid">Delete</a>
        </nav>
        <h2>@Model.teacherfname @Model.teacherlname</h2>
        <p>TeacherId = @Model.teacherid Hire date: @Model.hiredate</p>
    </div>
    
