@model CumulativePart1.Models.Student
@{
    ViewBag.Title = "Show";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Student</title>
</head>
<body>
    <a class="navlink" href="/Student/List">Back To Students</a>
    <div id="containershow">
        <h2>@Model.studentfname @Model.studentlname</h2>
        <p>StudentId = @Model.studentid Enrol date: @Model.enroldate</p>
    </div>
</body>
</html>
