<h2>Choose a Teacher</h2>
<label for="teacherfname">Teacher First Name:</label>
<input type="text" name="teacherfname" /><br />
<label for="teacherlname">Teacher Last Name:</label>
<input type="text" name="teacherlname" /><br />
<label for="hiredate">Teacher Hire Date:</label>
<input type="date" name="hiredate" /><br />
<label for="salary">Teacher Salary:</label>
<input type="number" name="salary" /><br />
<input type="submit" />
<!--i attempted to build a teacher search interface but I could not figure it out, this is just the skeleton html form that I made for it to be used in the future once I learn how to connect search features with the database results -->
